@media print {
  body {
    background-color: transparent;
    overflow: visible !important;
    color-adjust: exact;
    direction: ltr !important;
    -webkit-print-color-adjust: exact;
  }

  body > * {
    display: none !important;
  }

  #__next {
    display: block !important;
  }

  #docs-editor {
    max-width: none;
    padding: 0 !important;
  }

  #docs-editor,
  .cp-zoom-outer {
    margin: 0 !important;
    width: 100% !important;
  }

  .kix-print-block {
    display: block !important;
  }

  .kix-appview {
    background: #fff;
  }

  .kix-appview-editor {
    height: auto !important;
    overflow: visible !important;
    position: static !important;
  }

  .kix-autogenregionrenderer-highlighted {
    border: none !important;
  }

  .kix-autogenregionrenderer-reload-button {
    visibility: hidden !important;
  }

  .docos-pane {
    display: none !important;
  }

  .kix-page {
    height: 11.69in !important;
    page-break-after: always;
  }

  .kix-page-paginated {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
  }

  .kix-page-header-border {
    margin-top: 0 !important;
  }

  .kix-page-footer,
  .kix-page-header-border {
    border-top: none !important;
  }

  .kix-page-bottom,
  .kix-page-column-bottom {
    bottom: 0 !important;
  }
}

@media screen {
  .cp-page-paginated {
    border: 0;
    border-color: initial;
    -o-border-image: none;
    border-image: none;
    -o-border-image: initial;
    border-image: initial;
    box-shadow:
      0 0 0 0.75pt #d1d1d1,
      0 0 3pt 0.75pt #ccc;
    margin: 3.75pt 3.75pt 7.5pt;
  }
}

.cp-resume-left {
  background: #f6f6f6;
  border-radius: 8px;
  height: 1060px;
  width: 256px;
}

.cp-resume-content {
  width: 400px;
}

.cp-resume-list .md-list-graphic {
  height: 24px;
  margin-right: 8px;
  width: 24px;
}

.cp-resume-list .md-list-graphic .material-icons {
  font-size: 16px;
}

.cp-resume-list .md-list-item {
  min-height: 0;
  padding-left: 0;
}

.cp-resume-section {
  padding-bottom: 16px;
  padding-top: 16px;
}

.cp-resume-profile {
  background-color: #fff;
  border-radius: 50%;
  height: 152px;
  width: 152px;
}

.cp-resume-item .md-chip--dense {
  font-size: 0.75rem;
}

.cp-page {
  position: relative;
  white-space: normal;
  -webkit-tap-highlight-color: initial;
  background-color: #fff;
  height: 1122px;
  overflow: hidden;
  width: 794px;
}

.cp-page__footer,
.cp-page__header {
  max-height: 422.4px;
  min-height: 32px;
}

.cp-page__content-wrapper {
  flex-grow: 1;
  margin-left: 32px;
  margin-right: 32px;
}

.cp-timeline-list {
  padding-left: 16px;
  position: relative;
}

.cp-timeline-list:before {
  background-color: var(--color-app-divider);
  content: '';
  height: calc(100% - 6px);
  left: 0;
  position: absolute;
  top: 6px;
  width: 1.5px;
}

.cp-timeline-content:before {
  background-color: var(--color-app-status-bar);
  border-radius: 9px;
  content: '';
  height: 9px;
  left: -20px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.cp-timeline-content--active:before {
  background-color: #1c4ed8;
  background-color: rgba(var(--color-primary));
}

.disk-list li {
  position: relative;
}

.disk-list li:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath stroke='%23efefef' stroke-linecap='round' stroke-width='2' d='M1 1v4a8 8 0 0 0 8 8h4'/%3E%3C/svg%3E")
    no-repeat 50% 50%/100% auto;
  content: '';
  height: 12px;
  left: -16px;
  position: absolute;
  top: -2px;
  width: 12px;
}

.disk-list li:before {
  background-color: var(--color-app-status-bar);
  border-radius: 50%;
  content: '';
  height: 5px;
  left: -6px;
  position: absolute;
  top: 6px;
  width: 5px;
  z-index: 1;
}

.disk-list li {
  padding-left: 4px;
}
